.buttonAreaBox {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1.5rem;
  max-width: 12rem;
}

.initialTimer {
  min-height: 1.5rem;
  font-size: 2rem;
}

p {
  height: 100%;
  margin: 0;
}

.wrapper {
  position: absolute;
}
.geralt {
  position: relative;
  width: 9em;
  right: 13rem;
  bottom: 2.8rem;
  opacity: .5;
  z-index: -1;
}

button {
  z-index: 1;
}