.dataArea {
  color: #eeeeee;
  width: 40rem;
  margin: -3rem auto 0;
}
.counterBox {
  opacity: 0.2;
  margin-bottom: 0.5rem;
}

.typedChar {
  padding: 0 0.2rem;
  font-size: 1.3rem;
}
.quote {
  opacity: 0.2;
  font-family: "Cinzel Decorative", serif;
  font-size: .8rem;
  letter-spacing: 2px;
}

