.inputSection {
  margin: 0 auto;
}
.wrapper {
  position: relative;
}

.transparentInput,
.textArea,
.textArea:focus,
.textArea:focus-visible {
  background-color: transparent;
  position: relative;
  color: #14ffec;
  width: 50rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  z-index: 1;
}

.transparentInput {
  bottom: 54px;
  background-color: #323232;
  z-index: -1;
}
.transparentInput::placeholder {
  padding-left: 10px;
  letter-spacing: 2px;
}
